{% extends "global/FirebaseAppBase.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block local_scripts %}
  <link
      rel="import"
      href="/static/webcomponents/smart/otree-stochastic-bimatrix.html">
 {% endblock %}

{% block content %}

    <otree-stochastic-bimatrix
        payoff-matrices='{{ Constants.payoff_grid_array }}'
        period-length='{{ Constants.period_length }}'>
    </otree-stochastic-bimatrix>

    {% include 'stochastic_bimatrix/Instructions.html' %}

{% endblock %}
