{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <script>
     	var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>

    <script src="//code.highcharts.com/highcharts.js"></script>

    <link
    		rel="import"
    		href="{% static "webcomponents/stochastic-bimatrix/stochastic-bimatrix/stochastic-bimatrix.html" %}">
{% endblock %}

{% block content %}
    <stochastic-bimatrix
        payoff-matrices='{{ payoff_grid }}'
        transition-probabilities='{{ transition_probabilities }}'
        period-length='{{ Constants.period_length }}'>
    </stochastic-bimatrix>

    {% include 'stochastic_bimatrix/Instructions.html' %}

{% endblock %}
