{% load otree_tags staticfiles %}

<p>
    Welcome to LEEPS Laboratory!     
</p>

<p>
    You are about to participate in an interactive decision-making experiment. The experiment is
    expected to last about one hour. During the experiment, you will earn “Points.” You will receive 
    one US Dollar for every XX Points you earn during the experiment. You are also guaranteed a $7
    show up fee for your cooperation.    
</p>

<p>
    If you have any questions, please raise your hand and wait for an experimenter to come to you. 
    Please do not talk, exclaim, or try to communicate with other participants during the experiment. 
    Please do not write on paper copies of instructions. Please do not do anything with your computer 
    until specifically instructed to do so. Also, please mute your cell phones now. 
</p>

<p>
    Before the experiment starts, an experimenter will use slides to explain how you earn points. 
    Please pay careful attention. Next there will be several practice periods. Then the experiment 
    will officially start.    
</p>
