{% load otree_tags staticfiles %}

<p>
    In this study, you will be randomly and anonymously paired with another participant.
    Each of you simultaneously and privately chooses a strategy in the space from A to B,
    using a slider, from "100% A" / "0% B" at the top slider position to "0% A" / "100% B"
    at the bottom slider position.
    Your payoffs will be determined by the choices of both as below:
</p>
<p><i>In each cell, the amount (in points) to the left is the payoff for you and to the right is the payoff for the other participant.</i></p>
